.add-to-cart {
    background-color: #febd69;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
}

.cart-items {
    margin: 20px auto;
    max-width: 800px;
}

.cart-items img {
    margin-right: 10px;
}

.delete-item {
    color: red;
    cursor: pointer;
    text-decoration: none;
}
